/* Background Image */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: url('background.jpg') no-repeat center center fixed;
    background-size: cover;
    color: rgba(23, 10, 10, 0.902);
}

/* Container */
.container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background: rgba(237, 232, 232, 0.911);
    border-radius: 8px;
}

/* Ticket Details */
.ticket-details p {
    font-size: 16px;
    margin: 5px 0;
}

/* Buttons */
button {
    padding: 10px;
    background: green;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 16px;
}

button:hover {
    background: darkgreen;
}
